* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.breeds-subheader {
  display: flex;
  justify-content: space-between;
}

.breeds-subheader button {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0 18px;
  background-color: cornflowerblue;
  color: aliceblue;
}

.breeds li{
  text-transform: capitalize;
  background-color: aliceblue;
  text-align: center;
  cursor: pointer;
  padding: 15px 30px;
  width: 150px;
}

.breeds li.active {
  background-color: cornflowerblue;
  color: aliceblue;
}

.dog-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.dog-imgs img {
  border-radius: 10px;
  height: 180px;
  width: 180px;
  cursor: pointer;
}

.question {
  text-align: center;
  margin: 20px 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.1rem;
}

ul {
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  background-color: #666;
  color: white;
  padding: 30px 0;
}

header {
  background-color: #ccc;
  padding: 20px 0;
}

main {
  flex: 1;
  padding: 20px 0;
}

.y-wrap {
  margin: 0 auto;
  width: 90%;
}

a {
  color: inherit;
  text-decoration: none;
}

.y-navs {
  display: flex;
}

.y-navs a:first-of-type {
  flex: 1;
}

.y-navs a:not(:first-of-type) {
  margin: 0 0 0 16px;
}